@model VNPT_Review.Models.UOfficeReview;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Html.DisplayFor(model => model.office.NAME)</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.office.NOTE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.office.NOTE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.office.FATHER_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.office.FATHER_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.office.ACTIVE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.office.ACTIVE)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.office.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @if(Model.review.Count() > 0)
    {
        @foreach (var item in Model.review)
        {
            @Html.DisplayNameFor(model => item.ID)
            @Html.DisplayFor(model => item.ID)

            @Html.DisplayNameFor(model => item.RATING)
            @Html.DisplayFor(model => item.RATING)

            @Html.DisplayNameFor(model => item.ID)
            @Html.DisplayFor(model => item.ID)

            @Html.DisplayNameFor(model => item.CONTENT)
            @Html.DisplayFor(model => item.CONTENT)

            <a asp-controller="Review" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            <a asp-controller="Review" asp-action="Delete">Delete</a>
        }
    }
    else 
    {
        <p>Hiện tại chưa có đánh giá nào.</p>
    }
</div>
