@model VNPT_Review.Models.UOfficeReview

@{
    ViewData["Title"] = "Details";
}

<div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
    <div class="card-body pt-0 pt-md-4">
        <div class="text-center">
            <h1 class="pb-2">
                @Html.DisplayFor(model => model.office.Name)
            </h1>
            <div class="h6 font-weight-300">
                @Html.DisplayFor(model => model.office.Note)
            </div>
            <div class="h5 mt-3">
                @Html.DisplayNameFor(model => model.office.FatherId): <small class="text-muted">#@Html.DisplayFor(model => model.office.FatherId)</small>
                <span class="ms-4">
                    @Html.DisplayNameFor(model => model.office.Active):
                    @{
                        if(Model.office.Active == 1) 
                        {
                            <i class='fas fa-circle' style='color:#83eb34'></i> 
                        }
                        else
                        {
                            <i class='fas fa-circle' style='color:#f03f24'></i>;  
                        }
                    }
                </span>
            </div>
            <div class="h1 font-weight-300">
                @Model.office.Rating
            </div>
            <div class="fs-2">
                @{
                    var max = 5;
                    if(Model.office.Rating == 0)
                    {
                        for(int i=0; i<max; i++)
                        {
                            <i class="fas fa-star" style="color:#ffffff; text-shadow: 0 0 2px #000000"></i>
                        }
                    }
                    else 
                    {
                        int i;
                        for(i=0; i<Model.office.Rating; i++)
                        {
                            if(i >= Model.office.Rating - 1 && Model.office.Rating % 1 != 0)
                            {
                                <i class="fas fa-star-half" style="color:#fffc3d; text-shadow: 0 0 2px #000000"></i>
                            }
                            else
                            {
                                <i class="fas fa-star" style="color:#fffc3d; text-shadow: 0 0 2px #000000"></i>
                            }
                        }
                        while(i < max) 
                        {
                            <i class="fas fa-star" style="color:#ffffff; text-shadow: 0 0 2px #000000"></i>
                            i++;
                        }
                    }
                }
            </div>
        </div>
        <div class="text-center mt-4">
            <a asp-controller="Offices" asp-action="Edit" asp-route-id="@Model.office.Id" class="btn btn-secondary">Sửa</a>
            <a asp-controller="Offices" asp-action="Delete" asp-route-id="@Model.office.Id" class="btn btn-danger">Xoá</a>
        </div>
        <hr class="my-4">
    </div>
</div>
<div id="reviewSection">
    <partial name="_ReviewSectionPartial"/>
</div>
<div id="loader" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@section Scripts
{
    <script>

        $('#loader').children().hide();

        $(document).ready(function() {

            $('.del').click(function(data) {
                var id = $(this).data('id');
                var officeId = $(this).data('office');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Review")',
                    data: { 'id': id, 'officeId': officeId  },
                    success: function() {
                        location.reload();
                    }
                });
            }); 

        });

        var value = 8;
        var ongoing = false;

        window.onscroll = function(ev) {
            if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                if(ongoing == false) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("InfiniteReviewInOffice", "Offices")',
                        data: { 'id': '@Model.office.Id', 'value': value },
                        beforeSend: function()  {
                            ongoing = true;
                            $('#loader').children().show();
                        },          
                        success: function(data) {
                            if(data != null) {
                                $('#reviewSection').html(data);
                                value += 4;
                                ongoing = false;
                            }
                        },
                        complete: function() {
                            $('#loader').children().hide();
                        }
                    });
                }
            }
        };

    </script>
}