@model VNPT_Review.Models.UOfficeReview

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="offices" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.office.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.NOTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.FATHER_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.ACTIVE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.CREATED_AT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.UPDATED_AT)
            </th>
            <th></th>
        </tr>
    </thead>
    @* <tbody>
        @if (Model.offices.Count() > 0)
        {
            @foreach (var item in Model.offices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOTE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FATHER_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ACTIVE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CREATED_AT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UPDATED_AT)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Hiện tại chưa có dữ liệu nào.</p>
        }
    </tbody> *@
</table>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#offices').DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                "ajax": {
                    "url": "api/APIOffice",
                    "type": "POST",
                    "datatype": "json"
                },
                columns: [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "NAME", "name": "NAME", "autoWidth": true },
                    { "data": "FATHER_ID", "name": "FATHER", "autoWidth": true },
                    { "data": "ACTIVE", "name": "ACTIVE", "autoWidth": true },
                    { "data": "CREATED_AT", "name": "CREATED AT", "autoWidth": true},
                    { "data": "UPDATED_AT", "name": "UPDATED AT", "autoWidth": true }
                ]
            });
        });
</script>
}
