@model IEnumerable<VNPT_Review.Models.REVIEW>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RATING)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREATED_AT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UPDATED_AT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFFICE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RATING)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OFFICE.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
