@model VNPT_Review.Models.UOfficeReview

@{
    ViewData["Title"] = "Danh sách phòng ban";
}

<div class="text-center">
    <h1 class="text-primary">Danh sách phòng ban VNPT</h1>
</div>

<input type="button" class="btn btn-primary float-end" value="Hiển thị theo danh sách" id="toggleButton" onclick="this.blur()">

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm</a>
</p>

<table id="officeTable" class="hover" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.office.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.FatherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.office.Active)
            </th>
            <th>Đánh giá</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
<div id="officeCard" class="row">
    <partial name="_OfficeCardPartial"/>
</div>
<div id="loader" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
@section Scripts
{
    <script>

        $('#officeTable').hide();
        $('#loader').children().hide();

        $(document).ready(function() {
            var table = $('#officeTable').DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                "ajax": {
                    "url": "api/APIOfficePaginated",
                    "type": "POST",
                },
                columns: [
                    { "data": "id", "name": "Mã phòng ban", "autoWidth": true },
                    { "data": "name", "name": "Tên phòng ban", "autoWidth": true },
                    { "data": "note", "name": "Ghi chú", "autoWidth": true },
                    { "data": "fatherId", "name": "Đơn vị cha", "autoWidth": true },
                    { "data": "active", "name": "Hoạt động", "autoWidth": true },
                    { "render": function(data, type, row) {
                            var string = "";
                            var max = 5;
                            if(row.rating== 0)
                            {
                                for(var i=0; i<max; i++)
                                {
                                    string +="<i class='fas fa-star' style='color:#ffffff; text-shadow: 0 0 2px #000000'></i>";
                                }
                            }
                            else 
                            {   
                                var i;
                                for(i=0; i<row.rating; i++)
                                {
                                    if(i >= row.rating - 1 && row.rating % 1 != 0)
                                    {
                                        string += "<i class='fas fa-star-half' style='color:#fffc3d; text-shadow: 0 0 2px #000000'></i>";
                                    }
                                    else
                                    {
                                        string += "<i class='fas fa-star' style='color:#fffc3d; text-shadow: 0 0 2px #000000'></i>";
                                    }
                                }
                                while(i < max) 
                                {
                                    string += "<i class='fas fa-star' style='color:#ffffff; text-shadow: 0 0 2px #000000'></i>";
                                    i++;
                                }
                            }
                            return string;
                        }
                    },
                    { "render": function(data, type, row) {
                            return "<a href='Office/Edit/" + row.id + "' class='btn btn-secondary d-grid gap-2'>Sửa</a>";
                        }
                    },
                    { "render": function(data, type, row) {
                            return "<a href='Office/Delete/" + row.id + "' class='btn btn-danger d-grid gap-2'>Xoá</a>";
                        } 
                    }
                ],
                columnDefs: [
                    { "targets": [2,4,5], "orderable": false },
                    { "targets": [4], "className": "text-center", "render": function(data, type, row) {
                            return (row.active == 1) 
                                ? 
                                    "<i class='fas fa-circle' style='color:#83eb34'></i>" 
                                : 
                                    "<i class='fas fa-circle' style='color:#f03f24'></i>";
                        }  
                    }
                ],
                language: {
                    "emptyTable": "Không tìm thấy dữ liệu nào :(",
                    "lengthMenu": "Hiện _MENU_ kết quả mỗi trang",
                    "info": "Đang hiển thị trang <b>_PAGE_</b> trong tổng số <b>_PAGES_</b> trang của <b>_TOTAL_</b> kết quả",
                    "infoFiltered": "(Liệt kê từ <b>_MAX_</b> kết quả)",
                    "infoEmpty": "Không tìm thấy dữ liệu",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Tiếp theo",
                        "previous": "Trở về"
                    },
                    "processing": "Đang tải dữ liệu"
                }
            });

            $('#officeTable').on('click', 'tbody tr', function() {
                var row = table.row($(this)).data();
                window.location.href = "/Office/" + row.id;
            });

            $('#officeTable').parents('div.dataTables_wrapper').first().hide();

            $('#toggleButton').click(function(){
                $('#officeCard').toggle();
                $('#officeTable').toggle();
                $('#officeTable').parents('div.dataTables_wrapper').first().toggle();
                $(this).val($(this).val() == 'Hiển thị theo danh sách' ? 'Hiển thị theo thẻ' : 'Hiển thị theo danh sách');
            });
        });

        var value = 18;
        var ongoing = false;

        window.onscroll = function(ev) {
            if($('#officeCard').is(':visible')) {
                if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    if(ongoing == false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("InfiniteOffice", "Office")',
                            data: { 'value': value },
                            beforeSend: function()  {
                                ongoing = true;
                                $('#loader').children().show();
                            },          
                            success: function(data) {
                                if(data != null) {
                                    $('#officeCard').html(data);
                                    value += 9;
                                    ongoing = false;
                                }
                            },
                            complete: function() {
                                $('#loader').children().hide();
                            }
                        });
                    }
                }
            }
        };

    </script>
}
