@model UOfficeReview;

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayNameFor(model => model.office.Name)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
        @if (Model.reviews.Count() > 0)
        {
            @foreach (var item in Model.reviews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="EditReview" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteReview" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Hiện tại chưa có đánh giá nào.</p>
        }
